.button-base,
.button-primary,
.button-secondary {
	position: relative;
	display: inline-block;
	border: 0;
	background: none;
	padding: 0;
	text-decoration: none;
	text-align: center;
	color: $colorBody;
	cursor: pointer;
}

.button-primary {

	font-family: $fontSecondary;
	font-size: 20px;
	line-height: 1;
	height: 46px;
	background: transparent;
	text-transform: uppercase;
	padding: 0 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	text-decoration: none;
	position: relative;
	z-index: 1;
	box-shadow: 0 0 0 3px white;
	border-radius: 8px;
	overflow: hidden;

	&::before,
	&::after {

		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: -1;
	}

	&::after {

		background: linear-gradient(180deg, #F7BF00 0%, #DA3002 100%);
		transition: opacity $transition;
	}

	&::before {

		background: white;
	}


	&:hover {

		text-decoration: none;
		color: white;

		&::after {

			opacity: 0.7;
		}
	}

	&:active {

		&::after {

			opacity: 0.7;
		}

		&::before {

			background: black;
		}
	}

	&--blue {

		&::after {

			background: linear-gradient(180deg, #52B6F5 0%, #1A5BB2 100%);
		}
	}

	&--transparent {

		box-shadow: none !important;

		&::before,
		&::after {

			display: none;
		}
			
			
		&:hover {

			color: $colorYellow;
		}
	}

	&--large {

		height: 60px;
		border-radius: 10px;
		font-size: 24px;
	}
	
}

.button-play {

	position: relative;
	z-index: 1;
	height: 64px;
	min-width: 170px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 26px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	border-radius: 10px;
	overflow: hidden;
	padding: 0 30px;


	&::before,
	&::after {

		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: -1;
		transition: opacity $transition;
	} 

	&::before {
			
		background-color: black;
	}

	&::after {

		background: linear-gradient(180deg, #52B6F5 0%, #1A5BB2 100%);
	}

	&:hover {

		color: white;
		text-decoration: none;

		&::after {

			opacity: 0.8;
		}
	}
}

@media (max-width: 1199.98px){
	
	.button-primary {

		font-size: 18px;
		height: 46px;
		padding: 0 42px;
		box-shadow: 0 0 0 2px white;

		&--large {

			height: 54px;
			border-radius: 8px;
			font-size: 22px;
		}
	}

	.button-play {

		height: 54px;
		min-width: 170px;
		font-size: 22px;
		border-radius: 8px;
	}
}

@media (max-width: 991.98px){

	.button-primary {

		font-size: 16px;
		height: 42px;
		padding: 0 36px;
		border-radius: 6px;

		&--large {

			height: 52px;
			border-radius: 8px;
			font-size: 22px;
		}
	}

	.button-play {

		height: 46px;
		min-width: 140px;
		font-size: 18px;
		border-radius: 6px;
	}
}

@media (max-width: 767.98px){
	
	.button-primary {

		font-size: 14px;
		height: 38px;
		padding: 0 32px;
		box-shadow: 0 0 0 1px white;
		border-radius: 4px;

		&--transparent {

			font-size: 18px !important;
		}

		&--large {

			height: 48px;
			border-radius: 6px;
			font-size: 20px;
		}
	}

	.button-play {

		height: 42px;
		min-width: 120px;
		font-size: 16px;
		border-radius: 6px;
	}
}

@media (max-width: 575.98px){

	.button-primary {

		font-size: 12px;
		height: 34px;
		padding: 0 30px;

		&--large {

			height: 48px;
			border-radius: 6px;
			font-size: 20px;
		}

	}

	.button-play {

		height: 38px;
		min-width: 100px;
		font-size: 14px;
		border-radius: 4px;
	}
	
}

@media (max-width: 480.98px){

	.button-primary {

		height: 30px;
		padding: 0 26px;

		&--large {

			height: 48px;
			border-radius: 6px;
			font-size: 20px;
		}
	}

	.button-play {

		height: 44px;
		min-width: 120px;
		font-size: 18px;
		border-radius: 6px;
	}
}

@media (max-width: 374px){
	
	.button-primary {

		font-size: 10px;
		height: 28px;
		padding: 0 24px;

		&--large {

			height: 44px;
			border-radius: 6px;
			font-size: 18px;
		}

		&--transparent {

			font-size: 16px !important;
		}
	}

	.button-play {

		height: 40px;
		min-width: 100px;
		font-size: 16px;
		border-radius: 4px;
	}
}

@media (max-width: 350px){

	.button-primary {

		font-size: 10px;
		height: 26px;
		padding: 0 22px;

		&--large {

			height: 44px;
			border-radius: 6px;
			font-size: 18px;
		}
	}

	.button-play {

		height: 38px;
		min-width: 90px;
		font-size: 16px;
		border-radius: 4px;
	}
	
}