.tabs {
	
	background: white;
	padding: 25px 25px 50px 25px;
	border-radius: 12px;
	box-shadow: 0px 4.25806px 6.3871px rgba(0, 0, 0, 0.4), inset 0px 1.06452px 0px rgba(255, 255, 255, 0.5);
	

	&__header {

		display: flex;
		justify-content: space-between;
		position: relative;
		z-index: 1;
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid #CEE9FF;
	}

	&__button {

		$this: &;

		font-family: $fontHeadings;
		font-weight: $medium;
		color: #0746A1;
		font-size: 24px;
		line-height: 1;
		text-transform: uppercase;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 22px 0;
		border-right: 1px solid #CEE9FF;
		flex: 1 1 auto;

		&:last-child {

			border-right: none;
		}
		

		> * {

			pointer-events: none;
		}

		&-icon {

			width: 34px;
			height: 34px;
			margin-right: 8px;
		}

		span {

			margin-top: 4px;
			display: flex;
			align-items: center;
			text-shadow: 0px 0px 5.13355px rgba(255, 255, 255, 0.75);
		}


		&:hover {

			color: $colorSky;
			text-decoration: none;
		}


		&.active {
			
			color: $colorSky;
		}
	}

	&__body {

		position: relative;
		z-index: 1;
	}

	&__content {

		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
		display: none;

		&.active {

			display: grid;
		}
	}
}

@media (max-width: 1199.98px){
	
	.tabs {

		padding: 22px 22px 40px 22px;
		border-radius: 10px;

		&__header {

			margin-bottom: 26px;
    		padding-bottom: 26px;
		}

		&__button {
			padding: 18px 0;
			font-size: 22px;

			&-icon {

				width: 30px;
				height: 30px;
			}
		}
	}
}

@media (max-width: 991.98px){

	.tabs {

		&__header {

			margin-bottom: 22px;
    		padding-bottom: 22px;
		}

		&__button {
			padding: 14px 0;
			font-size: 18px;

			&-icon {

				width: 26px;
				height: 26px;
			}
		}
	}
	
}

@media (max-width: 767.98px){
	
	.tabs {

		padding: 18px 18px 34px 18px;
		border-radius: 8px;

		&__header {

			margin-bottom: 24px;
    		padding-bottom: 10px;
			overflow-x: scroll;
			border-bottom: 0;
		}

		&__button {
			padding: 12px 16px;
			font-size: 16px;

			&:first-child {

				padding-left: 0;
			}

			&:last-child {

				padding-right: 0;
			}

			&-icon {

				width: 22px;
				height: 22px;
				margin-right: 6px;
			}
		}

		&__content {

			grid-template-columns: repeat(3, 1fr);
			gap: 14px;
		}
	}
}

@media (max-width: 575.98px){

	.tabs {

		padding: 16px 16px 28px 16px;
		border-radius: 6px;

		&__button {

			padding: 8px 14px;
			font-size: 14px;

			&-icon {

				width: 18px;
				height: 18px;
				margin-right: 4px;
			}
		}
	}
	
}

@media (max-width: 480.98px){
	
	.tabs {

		&__content {

			grid-template-columns: repeat(2, 1fr);
			gap: 14px;
		}
	}
}

@media (max-width: 374px){
	
	.tabs {
		
		padding: 12px 12px 22px 12px;
		border-radius: 6px;

		&__content {

			gap: 12px;
		}

	}
}

@media (max-width: 350px){
	
	.tabs {

		&__button {

			padding: 6px 12px;
			font-size: 12px;

			&-icon {

				width: 14px;
				height: 14px;
				margin-right: 2px;
			}
		}
	}
}